
body{
    font-family: "JetBrains Mono",sans-serif;
    background-color: #272525;
    max-width: 1100px;
    margin: auto;

}
.videoDoom{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    max-width: 100%;
    z-index: -1;

}
.mostrar{
    display: none;
}

header{
    height: 150px;
}
.barra{
    display: flex;
    background-color: darkslateblue;
    align-items: center;
    top:  20px;
    height: 75px;
    width: 1100px;
    border-radius: 6px;
    position: fixed;
    font-weight: bold;
    border: 2px deepskyblue solid;
    transition: 1s;

}

.barra div{
    width: auto;
    text-align: center;
    padding: 0 20px;

}
.projecte{
    color: whitesmoke;
    font-size: 50px;
    margin-bottom:12px;
    font-style: italic;
    font-family: 'Liu Jian Mao Cao', cursive;
}

.nombre{
    font-size: 20px;
    height: 100%;
}
.vl {
    background-image: linear-gradient(45deg,deepskyblue,darkslateblue);
    width: 2px;
    height: 75px;
    position: relative;
    margin: 0 2px;

}
.nombre:hover  {
    background-image: linear-gradient(25deg,deepskyblue,lightgreen);
}
.nombre a{
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    top: 20px;
}
.listajuegos{

    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 15px;
    row-gap: 15px;
    margin: 20px;
}

.juego img{
    background-size: cover;
    width: 100%;
    max-width: 300px;
    max-height: 300px;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
}
.descripcion{
    background-color: whitesmoke;
    padding: 20px;

}
.juego img:hover{
    opacity: 0.3;
}




