body{
    font-family: "JetBrains Mono",sans-serif;
    background-color: #272525;
    margin-left: 200px;
    margin-right: 200px;

}
.barra{
    display: flex;
    background-color: darkslateblue;
    height: 75px;
    color: #6A675E;
    border-radius: 6px;
    align-items: center;
    margin-top: 30px;
    position: sticky;
    font-weight: bold;
    border: 2px deepskyblue solid;
    transition: 1s;


}

.barra div{
    width: auto;
    text-align: center;
    padding: 0 20px;

}
.projecte{
    color: whitesmoke;
    font-size: 50px;
    margin-bottom:12px;
    font-style: italic;
    font-family: 'Liu Jian Mao Cao', cursive;
}

.nombre{
    font-size: 20px;
    height: 100%;

}
.vl {
    background-image: linear-gradient(45deg,deepskyblue,darkslateblue);
    width: 2px;
    height: 75px;
    position: relative;
    margin: 0 2px;

}
.nombre:hover  {
    background-image: linear-gradient(25deg,deepskyblue,lightgreen);
}
.nombre a{
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    top: 20px;
}



